.top-bar {
    width: 100%;
    height: 65px;
    background: #000;
    background: -webkit-linear-gradient(#252525, #101010);
    background: -o-linear-gradient(#252525, #101010);
    background: -moz-linear-gradient(#252525, #101010);
    background: linear-gradient(#252525, #101010);
    padding-left: 48%;
}

.top-bar img {
    width: 70px;
    height: 50px;
    margin-top: 7px;
    display: inline-block;
}

.top-bar img:hover {
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.person-details {
    background-color: #252525;
    padding: 20px 0 0 220px;
    height: 300px;
    border-bottom: 5px solid #101010;
}

.person-details #profile-pic {
    width: 225px;
    height: 225px;
    border: solid 8px #101010;
    display: inline-block;
}

.person-details #wiki {
    float: right;
    position: relative;
    left: -65px;
    display: inline-block;
    width: 825px;
    color: #A8A8A8;
    line-height: 23px;
}

.person-details #wiki i {
    font-size: 9px;
    position: relative;
    bottom: 4px;
    left: 2px;
}

.person-details #social-links {
    float: right;
    width: 300px;
    position: relative;
    top: -90px;
    left: -580px;
    list-style-type: none;
    line-height: 28px;
}

.person-details #social-links li a {
    color: #A8A8A8;
}

#tweet {
    margin: 36px 0 0 31.3%;
}

.youtube iframe {
    margin: 26px 0 0 31.4%;
}

.content-row {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.twitter {
    background: #326ada;
    background: -webkit-linear-gradient(#5B95DA, #B4C4DA);
    background: -o-linear-gradient(#5B95DA, #B4C4DA);
    background: -moz-linear-gradient(#5B95DA, #B4C4DA);
    background: linear-gradient(#5B95DA, #B4C4DA);
    height: 275px;
}

.youtube {
    background: #cc181e;
    background: -webkit-linear-gradient(#CC181E, #DE7C77);
    background: -o-linear-gradient(#CC181E, #DE7C77);
    background: -moz-linear-gradient(#CC181E, #DE7C77);
    background: linear-gradient(#CC181E, #DE7C77);
    height: 325px;
}

.instagram {
    background: #125688;
    background: -webkit-linear-gradient(#125688, #FA8B43);
    background: -o-linear-gradient(#125688, #FA8B43);
    background: -moz-linear-gradient(#125688, #FA8B43);
    background: linear-gradient(#125688, #FA8B43);
    height: 575px;
}

.insta-positioning {
    display: block;
    margin: 15px 0 0 37%;
}

