@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700');
@import url('https://fonts.googleapis.com/css?family=Lato');

h1, a, ul li a {
    transition: all 0.3s linear;
}

.content-row {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

/* =================== NAV STYLES =================== */

.top-bar {
    width: 100%;
    height: 65px;
    background: #000;
    background: -webkit-linear-gradient(#252525, #101010);
    background: -o-linear-gradient(#252525, #101010);
    background: -moz-linear-gradient(#252525, #101010);
    background: linear-gradient(#252525, #101010);
    padding-left: 48%;
}

.top-bar img {
    width: 70px;
    height: 50px;
    margin-top: 7px;
    display: inline-block;
}

.top-bar img:hover {
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

/* =================== PERSON DETAILS STYLES =================== */

.person-details {
    background-color: #252525;
    padding: 20px 20px 0 175px;
    height: 350px;
    border-bottom: 5px solid #101010;
}

.person-details #profile-pic {
    width: 240px;
    height: 240px;
    border: solid 8px #101010;
    display: inline-block;
}

.person-details span.header-right-column {
    width: 880px;
    float: right;
}

.person-details h1 {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    font-size: 43px;
    margin-top: 10px;
    color: #D1D1D1;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: inline-block;
}

.person-details h1:hover {
    text-shadow: 2px 3px 3px #000;
    color: #EDE21B;
}

.person-details #wiki {
    display: inline-block;
    color: #A8A8A8;
    line-height: 22px;
    margin-bottom: 20px;
}

.person-details #wiki a {
    color: #EDE21B;
    border-bottom: 1px solid rgba(168, 168, 168, 0);
}

.person-details #wiki a:hover {
    border-bottom: 1px solid rgba(237, 225, 27, 1);
    text-decoration: none;
}

.person-details #wiki i {
    font-size: 9px;
    position: relative;
    bottom: 5px;
    left: 2px;
}

.person-details #social-links {
    width: 300px;
    list-style-type: none;
    line-height: 30px;
    padding: 0;
    font-size: 15px;
}

.person-details #social-links li a {
    color: #A8A8A8;
    border-bottom: 1px solid rgba(168, 168, 168, 0);
    padding-bottom: -2px;
}

.person-details #social-links li a:hover {
    text-decoration: none;
}

.person-details #social-links li a.insta-link:hover {
    color: #FBAD50;
    border-bottom: 1px solid rgba(251, 173, 80, 1);
}

.person-details #social-links li a.twitter-link:hover {
    color: #1dcaff;
    border-bottom: 1px solid rgba(29, 202, 255, 1);
}

.person-details #social-links li a.youtube-link:hover {
    color: #F22D21;
    border-bottom: 1px solid rgba(242, 45, 33, 1);
}

.person-details ul li img {
    width: 19px;
    height: 19px;
    position: relative;
    bottom: 2px;
    display: inline-block;
    margin-right: 3px;
}

.person-details ul li img.youtube-logo {
    width: 20px;
    height: 16px;
}

.person-details ul li span {
    font-family: 'Lato', sans-serif;
}

.insta-followers {
    padding-left: 20px;
    color: #C2863E;
}

.twitter-followers {
    padding-left: 43px;
    color: #1595BD;
}

.youtube-followers {
    padding-left: 29px;
    color: #B82219;
}

/* =================== TWITTER STYLES =================== */

.tweet-center {
    padding-top: 10px;
    margin: 0 0 0 32%;
}

.tweet-center-tall {
    margin: 15px 0 0 39.5%;
    width: 275px;
}

.twitter {
    background: #008EC4;
    background: -webkit-radial-gradient(circle, #008EC4, #003C52);
    background: -o-radial-gradient(circle, #008EC4, #003C52);
    background: -moz-radial-gradient(circle, #008EC4, #003C52);
    background: radial-gradient(circle, #008EC4, #003C52);
    height: 200px;
}

.twit-textdense {
    height: 250px;
}

.twit-tall {
    height: 585px;
}

.twit-shorttall {
    height: 500px;
}

.twit-wide {
    height: 460px;
}

/* =================== YOUTUBE STYLES =================== */

.youtube iframe {
    margin: 26px 0 0 31.4%;
}

.youtube {
    background: #C20000;
    background: -webkit-radial-gradient(circle, #C20000, #7F0000);
    background: -o-radial-gradient(circle, #C20000, #7F0000);
    background: -moz-radial-gradient(circle, #C20000, #7F0000);
    background: radial-gradient(circle, #C20000, #7F0000);
    height: 375px;
}

/* =================== INSTAGRAM STYLES =================== */

.instagram {
    background: #5F287F;
    background: -webkit-radial-gradient(circle, #C92E94, #5F287F);
    background: -o-radial-gradient(circle, #C92E94, #5F287F);
    background: -moz-radial-gradient(circle, #C92E94, #5F287F);
    background: radial-gradient(circle, #C92E94, #5F287F);
    height: 575px;
}

.insta-positioning {
    display: block;
    margin: 15px 0 0 37%;
}
