@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');

h1, a, ul li a {
    transition: all 0.3s linear;
}

/* ##################### HOMEPAGE ##################### */

body#home {
    background: url("../../public/images/home/sky-buildings-dark.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home #logo {
    width: 160px;
    height: 115px;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: opacity 1.5s ease-in;
    -moz-transition: opacity 1.5s ease-in;
    -o-transition: opacity 1.5s ease-in;
    transition: opacity 1.5s ease-in;
}

#home #logo.show {
    opacity: 1;
}

/* =================== HOME NAVIGATION =================== */

#home nav {
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    position: relative;
    top: 115px;
    left: 30.7%;
    display: inline-block;
}

#home nav a {
    color: #fff;
    margin-right: 40px;
}

#home nav a:hover,
#home nav a:active,
#home nav a:focus {
    text-decoration: none;
}

#home nav a#break {
    margin-right: 240px;
}

#under-logo {
    margin-top: 250px;
}

#home h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #EDEDED;
    margin: 0 0 0 28.5%;
}

#home h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    color: #CCCCCC;
    margin: 10px 0 40px 43%;
    animation-delay: .25s;
    -moz-animation-delay: .25s;
    -webkit-animation-delay: .25s;
}

#home h2 i {
    font-size: 15px;
}

#home form {
    margin-left: 32%;
    animation-delay: .5s;
    -moz-animation-delay: .5s;
    -webkit-animation-delay: .5s;
}

#home input {
    width: 425px;
    height: 40px;
    box-shadow: 2px 2px 3px #000;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    color: #e3e3e3;
    border-radius: 0;
    background: transparent;
}

#home input[type="text"]:focus {
    border-color: rgba(150, 150, 150, 0.8);
    box-shadow: 0 0 8px rgba(237, 225, 27, 0.2);
}

#home button {
    height: 40px;
    padding: 0 15px 0 15px;
    background: #000;
    background: -webkit-linear-gradient(#202020, #000);
    background: -o-linear-gradient(#202020, #000);
    background: -moz-linear-gradient(#202020, #000);
    background: linear-gradient(#202020, #000);
    border: 1px solid #e3e3e3;
    border-left: 1px solid rgba(150, 150, 150, 0.5);
    box-shadow: 2px 2px 3px #000;
}

#home button i {
    color: #e3e3e3;
    background: -webkit-linear-gradient(#fff, #D4D4D4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

/* ##################### FIND ##################### */

.content-row {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#scroll-to-top {
    width: 35px;
    height: 35px;
    background: #252525;
    color: #e3e3e3;
    -moz-border-radius: 90px;
    -webkit-border-radius: 90px;
    border-radius: 90px;
    position: fixed;
    top: 40px;
    right: 50px;
    z-index: 1000;
    cursor: pointer;
    display: none;
    opacity: 0.6;
    transition: opacity 0.5s linear;
}

#scroll-to-top:hover {
    opacity: 1;
}

#scroll-to-top i {
    padding: 27% 0 0 35%;
    font-size: 17px;
}

/* =================== NAV STYLES =================== */

.top-bar {
    height: 65px;
    width: 100%;
    background: #000;
    background: -webkit-linear-gradient(#252525, #101010);
    background: -o-linear-gradient(#252525, #101010);
    background: -moz-linear-gradient(#252525, #101010);
    background: linear-gradient(#252525, #101010);
    position: fixed;
    z-index: 1000;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

.top-bar form {
    margin: 17px 0 0 37.8%;
}

.top-bar input#search-input {
    width: 280px;
    border-color: #000;
    color: #000;
}

.top-bar input[type="text"]:focus {
    border-color: #000;
    box-shadow: none;
}

.top-bar .logo {
    padding: 7px 0 0 15%;
}

.top-bar img#logo-img {
    width: 70px;
    height: 50px;
    display: inline-block;
}

.top-bar img#logo-img:hover {
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.top-bar .navigation {
    padding: 18px 0 0 20%;
}

.top-bar .navigation img {
    width: 35px;
    height: 29px;
    cursor: pointer;
}

ul#dropdown-nav {
    position: fixed;
    top: -300px;
    right: 10.5%;
    width: 250px;
    list-style-type: none;
    z-index: 900;
    font-family: 'Cabin', sans-serif;
    border: 1px solid #101010;
    border-top-width: 0;
    padding: 0;
}

ul#dropdown-nav li a {
    color: #e3e3e3;
    display: block;
    background-color: #101010;
    height: 46px;
    text-align: center;
    font-size: 14px;
    padding-top: 13px;
}

ul#dropdown-nav li a:hover {
    text-decoration: none;
    background-color: #252525;
}

ul#dropdown-nav li:nth-child(1) a {
    border-bottom: 1px solid rgba(7, 179, 255, 0.5);
}

ul#dropdown-nav li:nth-child(2) a {
    border-bottom: 1px solid rgba(227, 0, 248, 0.5);
}

ul#dropdown-nav li:nth-child(3) a {
    border-bottom: 1px solid rgba(254, 2, 0, 0.5);
}

ul#dropdown-nav li:nth-child(4) a {
    border-bottom: 1px solid rgba(211, 81, 0, 0.5);
}

ul#dropdown-nav li:nth-child(5) a {
    border-bottom: 1px solid rgba(166, 255, 128, 0.5);
}

/* =================== PERSON DETAILS STYLES =================== */

.person-details {
    background-color: #252525;
    padding: 14px 20px 0 160px;
    height: 350px;
    border-bottom: 3px solid #101010;
    margin-top: 65px;
}

.person-details .p-pic {
    width: 280px;
}

.person-details #profile-pic {
    width: 240px;
    height: 240px;
    border: solid 8px #101010;
    display: inline-block;
}

.person-details #filter-box {
    margin-top: 8px;
    border-radius: 8px;
    width: 240px;
    height: 70px;
    background: #E5E5E5;
    background: -webkit-radial-gradient(circle, #F0F0F0, #CFCFCF);
    background: -o-radial-gradient(circle, #F0F0F0, #CFCFCF);
    background: -moz-radial-gradient(circle, #F0F0F0, #CFCFCF);
    background: radial-gradient(circle, #F0F0F0, #CFCFCF);
}

.person-details #filter-box h3 {
    margin: 0;
    padding: 3px 0 3px 42%;
    display: block;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    border-bottom: 1px solid #000;
    color: #000;
    cursor: default;
}

.person-details #filter-box img {
    width: 30px;
    height: 30px;
}

.person-details #filter-box span {
    padding: 7px 0 0 7px;
    color: #1F1F1E;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.person-details #filter-box span #insta-posts-amt {
    position: relative;
    top: 2px;
    right: 2px;
}

.person-details #filter-box span #tweets-amt {
    position: relative;
    top: 2px;
    right: 6px;
}

.person-details #filter-box span #youtube-vids-amt {
    position: relative;
    top: 4px;
    right: 4px;
}

.person-details #filter-box span b {
    color: #000;
}

.person-details #filter-box span#insta.filtered-out,
.person-details #filter-box span#twitter.filtered-out,
.person-details #filter-box span#youtube.filtered-out {
    background: #9E9B9B;
    background: -webkit-radial-gradient(circle, #9E9B9B, #424141);
    background: -o-radial-gradient(circle, #9E9B9B, #424141);
    background: -moz-radial-gradient(circle, #9E9B9B, #424141);
    background: radial-gradient(circle, #9E9B9B, #424141);
}

.person-details #filter-box span#insta.filtered-out:hover,
.person-details #filter-box span#twitter.filtered-out:hover,
.person-details #filter-box span#youtube.filtered-out:hover {
    background: #A8A5A5;
    background: -webkit-radial-gradient(circle, #A8A5A5, #666464);
    background: -o-radial-gradient(circle, #A8A5A5, #666464);
    background: -moz-radial-gradient(circle, #A8A5A5, #666464);
    background: radial-gradient(circle, #A8A5A5, #666464);
}

.person-details #filter-box span#insta {
    display: block;
    float: left;
    border-radius: 0 0 0 6px;
    height: 45px;
    width: 33%;
    background: #DB32A1;
    background: -webkit-radial-gradient(circle, #DB32A1, #7D1C5C);
    background: -o-radial-gradient(circle, #DB32A1, #7D1C5C);
    background: -moz-radial-gradient(circle, #DB32A1, #7D1C5C);
    background: radial-gradient(circle, #DB32A1, #7D1C5C);
}

.person-details #filter-box span#insta:hover {
    background: #F037B0;
    background: -webkit-radial-gradient(circle, #F037B0, #9E2374);
    background: -o-radial-gradient(circle, #F037B0, #9E2374);
    background: -moz-radial-gradient(circle, #F037B0, #9E2374);
    background: radial-gradient(circle, #F037B0, #9E2374);
}

.person-details #filter-box span#twitter {
    display: block;
    float: left;
    height: 45px;
    width: 33%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background: #008EC4;
    background: -webkit-radial-gradient(circle, #008EC4, #005270);
    background: -o-radial-gradient(circle, #008EC4, #005270);
    background: -moz-radial-gradient(circle, #008EC4, #005270);
    background: radial-gradient(circle, #008EC4, #005270);
}

.person-details #filter-box span#twitter:hover {
    background: #00A6E5;
    background: -webkit-radial-gradient(circle, #00A6E5, #007BA8);
    background: -o-radial-gradient(circle, #00A6E5, #007BA8);
    background: -moz-radial-gradient(circle, #00A6E5, #007BA8);
    background: radial-gradient(circle, #00A6E5, #007BA8);
}

.person-details #filter-box span#twitter img {
    width: 32px;
    height: 32px;
}

.person-details #filter-box span#youtube {
    display: block;
    float: left;
    border-radius: 0 0 6px 0;
    height: 45px;
    width: 34%;
    background: #C20000;
    background: -webkit-radial-gradient(circle, #C20000, #7F0000);
    background: -o-radial-gradient(circle, #C20000, #7F0000);
    background: -moz-radial-gradient(circle, #C20000, #7F0000);
    background: radial-gradient(circle, #C20000, #7F0000);
}

.person-details #filter-box span#youtube:hover {
    background: #E00000;
    background: -webkit-radial-gradient(circle, #E00000, #A80000);
    background: -o-radial-gradient(circle, #E00000, #A80000);
    background: -moz-radial-gradient(circle, #E00000, #A80000);
    background: radial-gradient(circle, #E00000, #A80000);
}

.person-details #filter-box span#youtube img {
    width: 34px;
    height: 24px;
    margin-top: 4px;
}

.person-details h1 {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    font-size: 43px;
    margin-top: 0;
    color: #D1D1D1;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: inline-block;
}

.person-details h1:hover {
    text-shadow: 2px 3px 3px #000;
    color: #EDE21B;
}

.person-details #wiki {
    display: inline-block;
    color: #A8A8A8;
    line-height: 22px;
    margin-bottom: 20px;
}

.person-details #wiki a {
    color: #EDE21B;
    border-bottom: 1px solid rgba(168, 168, 168, 0);
}

.person-details #wiki a:hover {
    border-bottom: 1px solid rgba(237, 225, 27, 1);
    text-decoration: none;
}

.person-details #wiki i {
    font-size: 9px;
    position: relative;
    bottom: 5px;
    left: 2px;
}

.person-details #social-links {
    width: 300px;
    list-style-type: none;
    line-height: 30px;
    padding: 0;
    font-size: 15px;
}

.person-details #social-links li a {
    color: #A8A8A8;
    border-bottom: 1px solid rgba(168, 168, 168, 0);
    padding-bottom: -2px;
}

.person-details #social-links li a:hover {
    text-decoration: none;
}

.person-details #social-links li a.insta-link:hover {
    color: #FBAD50;
    border-bottom: 1px solid rgba(251, 173, 80, 1);
}

.person-details #social-links li a.twitter-link:hover {
    color: #1dcaff;
    border-bottom: 1px solid rgba(29, 202, 255, 1);
}

.person-details #social-links li a.youtube-link:hover {
    color: #F22D21;
    border-bottom: 1px solid rgba(242, 45, 33, 1);
}

.person-details ul li img {
    width: 19px;
    height: 19px;
    position: relative;
    bottom: 2px;
    display: inline-block;
    margin-right: 3px;
}

.person-details ul li img.youtube-logo {
    width: 20px;
    height: 16px;
}

.person-details ul li span {
    font-family: 'Lato', sans-serif;
}

.insta-followers {
    padding-left: 20px;
    color: #C2863E;
}

.twitter-followers {
    padding-left: 43px;
    color: #1595BD;
}

.youtube-followers {
    padding-left: 29px;
    color: #B82219;
}

/* =================== TWITTER STYLES =================== */

.tweet-center {
    padding-top: 10px;
    margin: 0 0 0 31.2%;
}

.tweet-center-tall {
    margin: 15px 0 0 39.5%;
    width: 275px;
}

.twitter {
    background: url("../../public/images/row-bgs/twitter.png") no-repeat center, #008EC4;
    background: url("../../public/images/row-bgs/twitter.png") no-repeat center, -webkit-radial-gradient(circle, #008EC4, #003C52);
    background: url("../../public/images/row-bgs/twitter.png") no-repeat center, -o-radial-gradient(circle, #008EC4, #003C52);
    background: url("../../public/images/row-bgs/twitter.png") no-repeat center, -moz-radial-gradient(circle, #008EC4, #003C52);
    background: url("../../public/images/row-bgs/twitter.png") no-repeat center, radial-gradient(circle, #008EC4, #003C52);
    height: 200px;
}

/* =================== YOUTUBE STYLES =================== */

.youtube iframe {
    margin: 20px 0 0 29.2%;
}

.youtube {
    background: url("../../public/images/row-bgs/youtube.png") no-repeat center, #C20000;
    background: url("../../public/images/row-bgs/youtube.png") no-repeat center, -webkit-radial-gradient(circle, #C20000, #7F0000);
    background: url("../../public/images/row-bgs/youtube.png") no-repeat center, -o-radial-gradient(circle, #C20000, #7F0000);
    background: url("../../public/images/row-bgs/youtube.png") no-repeat center, -moz-radial-gradient(circle, #C20000, #7F0000);
    background: url("../../public/images/row-bgs/youtube.png") no-repeat center, radial-gradient(circle, #C20000, #7F0000);
    height: 355px;
}

/* =================== INSTAGRAM STYLES =================== */

.instagram {
    background: url("../../public/images/row-bgs/insta.png") no-repeat center, #5F287F;
    background: url("../../public/images/row-bgs/insta.png") no-repeat center, -webkit-radial-gradient(circle, #C92E94, #5F287F);
    background: url("../../public/images/row-bgs/insta.png") no-repeat center, -o-radial-gradient(circle, #C92E94, #5F287F);
    background: url("../../public/images/row-bgs/insta.png") no-repeat center, -moz-radial-gradient(circle, #C92E94, #5F287F);
    background: url("../../public/images/row-bgs/insta.png") no-repeat center, radial-gradient(circle, #C92E94, #5F287F);
    height: 575px;
}

.insta-positioning {
    display: block;
    margin: 15px 0 0 36.8%;
}

/* =================== FACEBOOK STYLES =================== */

.facebook {
    background: url("../../public/images/row-bgs/facebook.png") no-repeat center, #3B5998;
    background: url("../../public/images/row-bgs/facebook.png") no-repeat center, -webkit-radial-gradient(circle, #4163A8, #1F2E4F);
    background: url("../../public/images/row-bgs/facebook.png") no-repeat center, -o-radial-gradient(circle, #4163A8, #1F2E4F);
    background: url("../../public/images/row-bgs/facebook.png") no-repeat center, -moz-radial-gradient(circle, #4163A8, #1F2E4F);
    background: url("../../public/images/row-bgs/facebook.png") no-repeat center, radial-gradient(circle, #4163A8, #1F2E4F);
    height: 500px;
    padding-top: 20px;
    position: relative;
}

.facebook .fb-post {
    margin-left: 35.7%;
    z-index: 10;
}

.post-white-bg {
    display: block;
    width: 379px;
    height: 470px;
    position: absolute;
    left: 36.1%;
    top: 20px;
    background: #fff;
    border-radius: 2px;
    visibility: hidden;
}

/* =================== SHOW MORE BUTTON =================== */

.show-more {
    height: 60px;
    background: #1F1F1E;
    color: #e3e3e3;
    font-family: 'Cabin', sans-serif;
    font-size: 21px;
    padding: 14px 0 0 47%;
    cursor: pointer;
}

.show-more:hover {
    background: #30302F;
}

/* ##################### REGISTER ##################### */

body#register {
    background: url("../../public/images/register/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#register p#back-to-login i {
    font-size: 50px;
    position: relative;
    top: 8px;
}

#register p#back-to-login {
    font-size: 30px;
    color: #e3e3e3;
    position: absolute;
    top: 30px;
    left: 50px;
}

#register p#back-to-login a {
    color: #e3e3e3;
}

#register p#back-to-login a:hover {
    text-decoration: none;
    border-bottom: 1px solid #e3e3e3;
}

#register .acct-box {
    width: 600px;
    margin: 40px auto 30px auto;
    display: block;
    float: none;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #000;
    padding-bottom: 40px;
    padding-top: 20px;
}

#register .acct-box img {
    width: 120px;
    height: 86px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#register .acct-box h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #EDEDED;
    text-align: center;
    margin: 30px 0 30px 0;
}

#register .acct-box form {
    width: 75%;
    float: none;
    margin: 0 auto;
}

#register .acct-box form label {
    color: #e3e3e3;
}

#register .acct-box form p.input-error {
    color: #ff0000;
    float: right;
    display: inline;
    margin: 0;
}

#register .acct-box form input {
    border-radius: 0;
    border: 1px solid #000;
    height: 40px;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

#register .acct-box form input.invalid {
    border: 1px solid #ff0000;
    border-bottom-width: 2px;
}

#register .acct-box form input:focus {
    border-color: #00ffff;
    box-shadow: 0 0 8px rgba(237, 225, 27, 0.2);
}

#register .acct-box form input.invalid:focus {
    border-color: #ff0000;
    box-shadow: none;
}

#register .acct-box form button {
    margin: 20px auto 0 auto;
    float: none;
    display: block;
    border-radius: 0;
    color: #101010;
    background-color: #99cc00;
    border: 1px solid #000;
    height: 44px;
    width: 150px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 17px;
}

#register .acct-box form button:hover {
    background: #99ff00;
}

#register .acct-box p#submit-invalid {
    color: #ff0000;
    margin: 0 0 0 13%;
    position: relative;
    top: 10px;
    display: none;
}