<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://use.fontawesome.com/c8d6558f7e.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../public/images/favicon.png" />

    <title>trova</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../public/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="../../../public/stylesheets/style.css" rel="stylesheet">
</head>

<body>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../../public/javascripts/bootstrap.min.js"></script>

<!-- Twitter widget js -->
<script>
    window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
        t._e.push(f);
    };

    return t;
}(document, "script", "twitter-wjs"));
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 top-bar">
            <span>
                <a href="@{controllers.Application.feed()}">
                    <img src="../../../public/images/logo.png" alt="Trova"/>
                </a>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 person-details">
            <img id="profile-pic" src="https://sslb.ulximg.com/image/405x405/artist/1464961822_6e757496657e78e0a893e0c8a3753afd.jpg/8b9b3e01b6e633fbd3974385e88c2f50/1464961822_bfdbd37bf6376d367e672d59e2b22b11.jpg" alt="Lil Uzi Vert" />
            <span class="header-right-column">
                <h1>Lil Uzi Vert</h1>
                <p id="wiki">
                Symere Woods (born July 31, 1994), better known by his stage name Lil Uzi Vert, is an American hip hop recording artist. Based in Philadelphia, he gained recognition after releasing his debut single, "Money Longer", and several mixtapes, including Luv Is Rage, Lil Uzi Vert vs. the World, and The Perfect Luv Tape. Lil Uzi Vert has also collaborated with Migos on "Bad and Boujee", which became Lil Uzi Vert's first US Billboard Hot 100 number-one single. In August 2017, Lil Uzi Vert released his debut studio album, Luv Is Rage 2, where it reached number one on the Billboard 200 Albums Chart.
                &nbsp;<a href="https://en.wikipedia.org/wiki/Lil_Uzi_Vert" target="_blank">Bio from Wikipedia<i class="fa fa-external-link" aria-hidden="true"></i></a>
                </p>
                <ul id="social-links">
                    <li><img src="../../../public/images/social-media-icons/instagram.png" /> <a class="insta-link" href="https://www.instagram.com/liluzivert" target="_blank">Instagram</a> <span class="insta-followers" title="${person.getName()} has ${person.getInstaFollowers()} followers on Instagram">${person.getInstaFollowers()}</span></li>
                    <li><img src="../../../public/images/social-media-icons/twitter.png" /> <a class="twitter-link" href="https://twitter.com/LILUZIVERT" target="_blank">Twitter</a> <span class="twitter-followers" title="${person.getName()} has ${person.getTwitterFollowers()} followers on Twitter">${person.getTwitterFollowers()}</span> </li>
                    <li><img class="youtube-logo" src="../../../public/images/social-media-icons/youtube.png" /> <a class="youtube-link" href="https://www.youtube.com/user/LILUZIVERT" target="_blank">YouTube</a> <span class="youtube-followers" title="${person.getName()} has ${person.getYoutubeFollowers()} followers on YouTube">${person.getYoutubeFollowers()}</span></li>
                </ul>
            </span>
        </div>
    </div>

    *{#{list posts, as: 'post'}}*
        *{<div class="row">}*
            *{#{if post.getType() == models.MEDIA_TYPE.TWITTER}}*
                *{<div class="col-lg-12 content-row twitter#{if post.getTweet().getAttachmentRatio() == models.Tweet.ATTACHMENT_RATIO.TALL} twit-tall#{/if}#{elseif post.getTweet().getAttachmentRatio() == models.Tweet.ATTACHMENT_RATIO.WIDE} twit-wide#{/elseif}">}*
                    *{<div class="tweet-center#{if post.getTweet().getAttachmentRatio() == models.Tweet.ATTACHMENT_RATIO.TALL}-tall#{/if}">}*
                        *{<blockquote class="twitter-tweet" data-lang="en">}*
                            *{<p lang="en" dir="ltr">${post.getTweet().getStatus().getText()}</p>&mdash;}*
                            *{${post.getTweet().getStatus().getUser().getName()} (@${post.getTweet().getStatus().getUser().getScreenName()})}*
                            *{<a href="https://twitter.com/${post.getTweet().getStatus().getUser().getScreenName()}/status/${post.getTweet().getStatus().getId()}">${post.getTweet().getDisplayDate()}</a>}*
                        *{</blockquote>}*
                    *{</div>}*
                *{</div>}*
            *{#{/if}}*

            *{#{elseif post.getType() == models.MEDIA_TYPE.YOUTUBE}}*
                *{<div class="col-lg-12 content-row youtube">}*
                    *{<iframe width="489" height="275" src="https://www.youtube.com/embed/${post.getVideo().getVideoId()}?rel=0" frameborder="0" allowfullscreen></iframe>}*
                *{</div>}*
            *{#{/elseif}}*

            *{#{elseif post.getType() == models.MEDIA_TYPE.INSTAGRAM}}*
                *{<div class="col-lg-12 content-row instagram">}*
                    *{<span class="insta-positioning">}*
                        *{#{verbatim}}*
                            *{${post.getPost().getHTML()}}*
                        *{#{/verbatim}}*
                    *{</span>}*
                *{</div>}*
            *{#{/elseif}}*
        *{</div>}*
    *{#{/list}}*

    <br /> <br /> <br />
    <p>A <code>p</code> here.</p>
    <br /> <br /> <br />
</div>

</body>
</html>
