<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../public/images/favicon.png" />

    <title>trova</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../public/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="../../../public/stylesheets/style.css" rel="stylesheet">
</head>

<body>

<script id="twitter-wjs" type="text/javascript" async defer src="//platform.twitter.com/widgets.js"></script>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../../public/javascripts/bootstrap.min.js"></script>

<!-- Twitter widget js -->
<script>
    window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
        t._e.push(f);
    };

    return t;
}(document, "script", "twitter-wjs"));
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 top-bar">
            <span>
                <a href="@{controllers.Application.feed()}">
                    <img src="../../../public/images/logo.png" alt="Trova"/>
                </a>
            </span>
        </div>
    </div>

    #{list posts, as: 'post'}
        <div class="row">
            #{if post.getType() == models.MEDIA_TYPE.TWITTER}
                <div class="col-lg-12 content-row twitter">
                    <div class="tweet"></div>
                    <script>
                        twttr.widgets.createTweet(
                                '${post.getTweet().getTweetId()}',
                                document.getElementsByClassName('tweet'),
                                {
                                    theme: 'light'
                                }
                        );
                    </script>
                </div>
            #{/if}

            #{elseif post.getType() == models.MEDIA_TYPE.YOUTUBE}
                <div class="col-lg-12 content-row youtube">
                    <iframe width="489" height="275" src="https://www.youtube.com/embed/${post.getVideo().getVideoId()}?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            #{/elseif}

            #{elseif post.getType() == models.MEDIA_TYPE.INSTAGRAM}
                <div class="col-lg-12 content-row instagram">
                    <span class="insta-positioning">
                        #{verbatim}
                            ${post.getPost().getHTML()}
                        #{/verbatim}
                    </span>
                </div>
            #{/elseif}
        </div>
    #{/list}

    <br /> <br /> <br />
    <p>A <code>p</code> here.</p>
    <br /> <br /> <br />
</div>

</body>
</html>
