<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://use.fontawesome.com/c8d6558f7e.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../public/images/favicon.png" />

    <title>trova // ${person.getName()}</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../public/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="../../../public/stylesheets/style.css" rel="stylesheet">
</head>

<body>
<script id="twitter-wjs" type="text/javascript" async defer src="//platform.twitter.com/widgets.js"></script>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../../public/javascripts/bootstrap.min.js"></script>

<!-- Twitter widget js -->
<script>
    window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
        t._e.push(f);
    };

    return t;
}(document, "script", "twitter-wjs"));
</script>

<div class="container-fluid">
    <div class="row top-bar">
        <div class="col-lg-4 search">
            <form class="form-inline" action="@{Application.feed(name)}" autocomplete="off">
                <div class="input-group">
                    <input type="text" class="form-control" id="search-input" name="name" value="${name}" placeholder="Search again...">
                </div>
            </form>
        </div>
        <div class="col-lg-4 logo">
            <a href="@{controllers.Application.index()}">
                <img src="../../../public/images/logo.png" alt="Trova"/>
            </a>
        </div>
    </div>

    <div class="row person-details">
        <div class="col-lg-4 p-pic">
            <img id="profile-pic" src="${person.getProfileImgUrl()}" alt="${person.getName()}" />
            <div id="filter-box">
                <h3>Filters</h3>
                <span id="insta" title="Hide Instagram Posts">
                    <img src="../../../public/images/social-media-icons/bw/instagram.png" alt="Instagram" />
                    <span id="insta-posts-amt">(<b>0</b>)</span>
                </span>
                <span id="twitter" title="Hide Twitter Posts">
                    <img src="../../../public/images/social-media-icons/bw/twitter.png" alt="Twitter" />
                    <span id="tweets-amt">(<b>0</b>)</span>
                </span>
                <span id="youtube" title="Hide YouTube Posts">
                    <img src="../../../public/images/social-media-icons/bw/youtube.png" alt="Youtube" />
                    <span id="youtube-vids-amt">(<b>0</b>)</span>
                </span>
            </div>
        </div>
        <div class="col-lg-8 p-info">
            <h1>${person.getName()}</h1>
            <p id="wiki">
            ${person.getWikiExcerpt()}
            &nbsp;<a href="https://en.wikipedia.org/wiki/${person.getWikiHandle()}" target="_blank">Bio from Wikipedia<i class="fa fa-external-link" aria-hidden="true"></i></a>
            </p>
            <ul id="social-links">
                <li><img src="../../../public/images/social-media-icons/instagram.png" /> <a class="insta-link" href="https://www.instagram.com/${person.getInstaHandle()}" target="_blank">Instagram</a> <span class="insta-followers" title="${person.getName()} has ${person.getInstaFollowers()} followers on Instagram">${person.getInstaFollowers()}</span></li>
                <li><img src="../../../public/images/social-media-icons/twitter.png" /> <a class="twitter-link" href="https://twitter.com/${person.getTwitterHandle()}" target="_blank">Twitter</a> <span class="twitter-followers" title="${person.getName()} has ${person.getTwitterFollowers()} followers on Twitter">${person.getTwitterFollowers()}</span></li>
                <li><img class="youtube-logo" src="../../../public/images/social-media-icons/youtube.png" /> <a class="youtube-link" href="https://www.youtube.com/${person.getYoutubeIdType() == models.Person.YOUTUBE_ID_TYPE.USERNAME ? 'user' : 'channel'}/${person.getYoutubeHandle()}" target="_blank">YouTube</a> <span class="youtube-followers" title="${person.getName()} has ${person.getYoutubeFollowers()} subscribers on YouTube">${person.getYoutubeFollowers()}</span></li>
            </ul>
        </div>
    </div>

    #{list posts, as: 'post'}
        <div class="row">
            #{if post.getType() == models.Post.MEDIA_TYPE.TWITTER}
                <div class="col-lg-12 content-row twitter">
                    <div class="tweet-center">
                        <blockquote class="twitter-tweet" data-lang="en">
                            <p lang="en" dir="ltr">${post.getTweet().getStatus().getText()}</p>&mdash;
                            ${post.getTweet().getStatus().getUser().getName()} (@${post.getTweet().getStatus().getUser().getScreenName()})
                            <a href="https://twitter.com/${post.getTweet().getStatus().getUser().getScreenName()}/status/${post.getTweet().getStatus().getId()}">${post.getTweet().getDisplayDate()}</a>
                        </blockquote>
                    </div>
                </div>
            #{/if}

            #{elseif post.getType() == models.Post.MEDIA_TYPE.YOUTUBE}
                <div class="col-lg-12 content-row youtube">
                    <iframe width="551" height="310" src="https://www.youtube.com/embed/${post.getVideo().getVideoId()}?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            #{/elseif}

            #{elseif post.getType() == models.Post.MEDIA_TYPE.INSTAGRAM}
                <div class="col-lg-12 content-row instagram">
                    <span class="insta-positioning">
                        #{verbatim}
                            ${post.getPost().getHTML()}
                        #{/verbatim}
                    </span>
                </div>
            #{/elseif}
        </div>
    #{/list}

    <br /> <br /> <br />
    <p>A <code>p</code> here.</p>
    <br /> <br /> <br />

    <script src="../../../public/javascripts/contentsize.js"></script>
    <script src="../../../public/javascripts/contentdisplay.js"></script>

</div>

</body>
</html>
